atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
decorator==4.3.0
defopt==4.0.1
docutils==0.14
ipython==7.0.1
ipython-genutils==0.2.0
more-itertools==4.3.0
mypy-extensions==0.4.1
numpy==1.15.2
pandas==0.23.4
pickleshare==0.7.5
pluggy==0.7.1
pockets==0.7
prompt-toolkit==2.0.4
ptyprocess==0.6.0
py==1.6.0
Pygments==2.2.0
pytest==3.8.2
pytest-datadir==1.2.1
python-dateutil==2.7.3
pytz==2018.5
simplegeneric==0.8.1
six==1.11.0
sphinxcontrib-napoleon==0.7
SQLAlchemy==1.2.12
traitlets==4.3.2
typing-inspect==0.3.1
wcwidth==0.1.7
XlsxWriter==1.1.1
